@charset "UTF-8";
:root {
  --main-font: Roboto;
  --accent-color: var(--#2196F3);
  --transition-timing: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visualitty__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
}

.title {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main__button {
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 13px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  font-family: Roboto;
  background-color: #2196f3;
  -webkit-transition: background-color var(--transition-timing) var(--transition-function);
  transition: background-color var(--transition-timing) var(--transition-function);
}

.main__button:hover, .main__button:focus {
  background-color: #188ce8;
}

.masenger__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  margin-left: 12px;
  background-color: #2196f3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 22px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0px;
  font-family: Roboto;
  -webkit-transition: background-color var(--transition-timing) var(--transition-function);
  transition: background-color var(--transition-timing) var(--transition-function);
}

.masenger__send:hover, .masenger__send:focus {
  background-color: #0d7cd1;
}

.masenger__send__go {
  color: white;
}

.btn {
  display: flexbox;
  margin: 30px 700px 200px 700px;
}

.portfolio__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  text-align: center;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: backround var(--transition-function), var(--transition-timing);
  transition: backround var(--transition-function), var(--transition-timing);
  color: #212121;
  float: left;
}

.portfolio__btn:hover, .portfolio__btn:focus {
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.close {
  width: 11px;
  height: 11px;
}

.close__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: fill var(--transition-timing) var(--transition-function);
  transition: fill var(--transition-timing) var(--transition-function);
}

.close__btn:hover, .close__btn:focus {
  fill: #2196f3;
}

.send {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  min-width: 13px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  font-family: Roboto;
  background-color: #2196f3;
  -webkit-transition: background-color var(--transition-timing) var(--transition-function);
  transition: background-color var(--transition-timing) var(--transition-function);
}

.send:hover, .send:focus {
  background-color: #188ce8;
}

.button__item:not(:last-child) {
  margin-right: 8px;
}

.adress__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__container {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.address {
  text-decoration: none;
  cursor: default;
  line-height: 1.71;
  font-style: normal;
  display: block;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer__item {
  text-decoration: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__adress:not(:last-child) {
  margin-bottom: 9px;
}

.backdrop.is__hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form__js {
  margin-top: 12px;
}

.modal__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.44;
}

.modal__js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__js label {
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  line-height: 0.88;
  color: #757575;
  margin-left: 0px;
  text-align: left;
}

.modal__js input[type="checkbox"] {
  width: 40px;
}

.modal__js input[type="checkbox"]:hover input,
.modal__js input[type="checkbox"]:focus input {
  border-color: #2196f3;
}

.modal__link {
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 5px;
  text-decoration: underline;
  text-underline-position: under;
}

.box__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-timing) var(--transition-function);
  transition: border-color var(--transition-timing) var(--transition-function);
  padding-left: 42px;
  outline: transparent;
}

.box__input:hover, .box__input:focus {
  border-color: #2196f3;
}

.box__input__coment {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
  -webkit-transition: border-color var(--transition-timing) var(--transition-function);
  transition: border-color var(--transition-timing) var(--transition-function);
  resize: none;
  outline: transparent;
}

.box__input__coment:hover, .box__input__coment:focus {
  border-color: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 58%;
  left: 15px;
  display: inline-block;
  width: 13px;
  height: 13px;
  -webkit-transition: fill var(--transition-timing) var(--transition-function);
  transition: fill var(--transition-timing) var(--transition-function);
  outline: transparent;
}

.modal__icon:hover {
  fill: #2196f3;
}

.box__input:hover + .modal__icon,
.box__input:focus + .modal__icon {
  fill: #2196f3;
}

/* CHECKBOX */
.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom__checkbox__icon {
  width: 10px;
  height: 10px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

.custom__checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: bbackground-color 300ms ease-in;
  transition: bbackground-color 300ms ease-in;
  fill: #eeeeee;
}

.checkbox:checked + .custom__checkbox .custom__checkbox__icon {
  opacity: 1;
  fill: #eeeeee;
}

.checkbox:checked + .custom__checkbox {
  background-color: #2196f3;
  outline-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text__modal {
  font-size: 14px;
}

.social {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color var(--transition-timing) var(--transition-function), background-color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function), background-color var(--transition-timing) var(--transition-function);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.social__icon:hover, .social__icon:focus {
  fill: #ffffff;
  height: 100%;
}

.sety__come {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 72px;
}

.commen {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0;
}

.sety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}

.sety__social {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.sety__social:not(:last-child) {
  margin-right: 10px;
}

.svg__icon__come {
  width: 20px;
  height: 20px;
}

.social__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background var(--transition-timing) var(--transition-function);
  transition: background var(--transition-timing) var(--transition-function);
  border-radius: 50%;
}

.social__all:hover, .social__all:focus {
  border-radius: 50%;
  background: #2196f3;
}

.form__masenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 93px;
}

.masenger {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.label__masenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  color: white;
}

.send__icon {
  width: 24px;
  height: 24px;
  fill: #f5f4fa;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.footer__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.94;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
  display: block;
}

.logo__studio__footer {
  color: #ffffff;
}

.main__logo {
  font-family: Roboto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 44px;
  color: #ffffff;
}

.hero__item__logo {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
}

.neon::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
}

.regular__customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.most__client {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 2.62;
  letter-spacing: 0.03em;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border-color var(--transition-timing) var(--transition-function);
  transition: border-color var(--transition-timing) var(--transition-function);
}

.clients__item:hover, .clients__item:focus {
  border-color: #2196f3;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill var(--transition-timing) var(--transition-function);
  transition: fill var(--transition-timing) var(--transition-function);
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: currentColor;
  cursor: pointer;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 25px;
  padding-top: 25px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.site__nav__link {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: #212121;
  position: relative;
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
}

.site__nav__link:hover, .site__nav__link:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.site__nav .site__nav__item .site__nav__link__current {
  color: #2196f3;
}

.site__nav__link__portfolio {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  position: relative;
  color: #212121;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
}

.site__nav__link__portfolio:hover, .site__nav__link__portfolio:focus {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* Контакты */
.site__nav__item:not(:last-child) {
  margin-right: 50px;
}

.site__nav__link__contacts {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
  color: #212121;
}

.site__nav__link__contacts:hover, .site__nav__link__contacts:focus {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item:hover {
  color: #2196f3;
}

.link__contacts__icon {
  fill: #757575;
  margin-right: 10px;
  height: 16px;
  -webkit-transition: fill var(--transition-timing) var(--transition-function);
  transition: fill var(--transition-timing) var(--transition-function);
}

.contacts__link:hover .link__contacts__icon,
.contacts__link:focus .link__contacts__icon {
  fill: #2196f3;
}

.contacts__link {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  -webkit-transition: color var(--transition-timing) var(--transition-function);
  transition: color var(--transition-timing) var(--transition-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.content__link {
  display: block;
}

.content__link:hover, .content__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: backround var(--transition-function), var(--transition-timing);
  transition: backround var(--transition-function), var(--transition-timing);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.content__item {
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
}

.product {
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.main__content:hover .product__overlay,
.main__content:focus .product__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.content__link:hover .product__overlay,
.content__link:focus .product__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.main__content:hover {
  cursor: pointer;
}

.content__image {
  width: 370px;
}

.paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.05em;
  color: #212121;
}

.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.paragraf__web {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.content__text {
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  position: absolute;
}

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  width: 270px;
}

.hero__item:not(:last-child) {
  margin-right: 30px;
}

.unique__content {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(46, 47, 58, 0.4))), url(../images/foto.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(46, 47, 58, 0.4)), url(../images/foto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}

.hero__item__svg {
  width: 70px;
  height: 70px;
}

.upper__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.comands {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.comands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Наша команда */
.comands__text {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

.comands__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.122), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.122), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.comands__item:not(:last-child) {
  margin-right: 30px;
}

.about__img {
  width: 270px;
}

.comands__product {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comands__upper {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

.comands__imag {
  width: 270px;
}

.comands__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  color: #212121;
}

.upper__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Чем мы занимаемся */
.study {
  padding-bottom: 94px;
}

.study__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 2.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.study__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.study__item {
  position: relative;
}

.study__item:not(:last-child) {
  margin-right: 30px;
}

.study__item__image {
  width: 370px;
}

.box {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  bottom: 0;
}

.tittle__work {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */